
  <div class="row">
    
  <div class="col-lg-3 pt-3" >
    <div>
    <div id="chart" style="background-color:#fff;margin-top: 25px;  padding: 29px; ">
      <h2>Machine Status</h2>
      <div ngbDropdown>
        <button class="btn btn-primary" id="dropdownConfig" ngbDropdownToggle>Good Production</button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4 pt-3">
            <p>Time Lapsed</p>
            <h3>00:23:34</h3>
          </div>
          <div class="col-md-8 pt-3">
            <button class="btn btn-outline-primary">View Operators</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-lg-6">
 <app-colorragnechart></app-colorragnechart>
  </div> 

  <div class="col-lg-3"  >
      <app-radialbarchart></app-radialbarchart>
    </div>
</div>